<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/hiber</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password1</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="ru.job4j.hibersamples.Role" />
        <mapping class="ru.job4j.hibersamples.User" />
        <mapping class="ru.job4j.hibersamples.CarModel" />
        <mapping class="ru.job4j.hibersamples.CarBrand" />
        <mapping class="ru.job4j.hibersamples.manytomany.Person" />
        <mapping class="ru.job4j.hibersamples.manytomany.Address" />
        <mapping class="ru.job4j.hibersamples.manytomany.Author" />
        <mapping class="ru.job4j.hibersamples.manytomany.Book" />
        <mapping class="ru.job4j.hibersamples.lazy.Task"/>
        <mapping class="ru.job4j.hibersamples.lazy.Category"/>
        <mapping class="ru.job4j.hibersamples.lazy.LazyCarBrand"/>
        <mapping class="ru.job4j.hibersamples.lazy.LazyCarModel"/>
        <mapping class="ru.job4j.hibersamples.manytomany.City"/>
        <mapping class="ru.job4j.hibersamples.manytomany.Human"/>
    </session-factory>
</hibernate-configuration>
